<div class="top-0 z-50 w-full text-emerald-900 bg-cyan-200 md:sticky border-b-stone-200/10">
    <div x-data="{ open: false }"
         class="flex flex-col max-w-full px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
        <div class="flex flex-row items-center justify-between py-4">
            <a href="/" class="flex text-emerald-800 transition duration-1000 ease-in-out group">
                <div
                     class="mt-1 ml-3 text-xl font-black tracking-tight text-emerald-800 uppercase transition-colors group-hover:text-emerald-900/60">
                    {{ .Site.Title }}</div>
            </a>
        </div>
        <nav :class="{'flex': open, 'hidden': !open}"
             class="flex-col flex-grow hidden pb-4 md:pb-0 md:flex md:justify-end md:flex-row">
            <a class="px-4 py-2 mt-2 text-sm font-semibold rounded-lg md:mt-0 md:ml-4 hover:text-white focus:text-white hover:bg-emerald-600 focus:bg-primary-700 focus:outline-none focus:shadow-outline"
                href="/about/">About</a>
            <a class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 md:ml-4 hover:text-white focus:text-white hover:bg-emerald-600 focus:bg-primary-700 focus:outline-none focus:shadow-outline"
               href="/contact">
                Contact
            </a>
        </nav>
    </div>
</div>
