<div class="mx-auto text-gray-900 max-w-7xl dark:text-gray-50">
    <div class="px-4 not-prose">
        <div class="grid gap-4 mx-auto mt-12 mb-4 lg:max-w-none md:grid-cols-1">
            {{ range .Paginator.Pages }}
            <div class="flex flex-col overflow-hidden rounded-lg shadow-lg bg-gray-50 dark:bg-gray-900">
                <div class="p-6">
                    <div class="flex-1">
                        <h2 class="block mb-2 text-2xl font-black text-gray-500 dark:text-gray-200">
                            {{.Title}}
                        </h3>
                        <q class="p-4 text-base text-gray-900 dark:text-gray-300">
                            {{ .Params.summary }}
                        </q>
                        <p class="mt-3 text-base text-gray-900 dark:text-gray-300">
                          &mdash; {{.Params.author}}
                        </p>
                    </div>
                    <div class="flex items-center mt-6">
                        <div class="pt-1 ml-3">
                            <div class="flex space-x-1 text-sm text-gray-500 dark:text-white">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
